<div id="content">
  <div class="col-md-9">
    <div class="row">
      <h3><%= @notification.title %></h3>
      <h6>
        <%= t "notification.at_time" %>
        <%= @notification.created_at.strftime("%m/%d/%Y %H:%M:%S") %>
      </h6>
      <p><%= @notification.content %></p>
    </div>
  </div>
</div>