<% provide :title, t("admin.manager_booking_field") %>
<div class="col-lg-9">
  <table class="table">
    <%= render "layouts/title" %>
    <tbody>
      <%= render @orders %>
    </tbody>
  </table>
  <!-- Title -->
  <div class="d-flex justify-content-center">
    <%= will_paginate @orders %>
  </div>
</div>
