<% provide :title, t("booking.edit")  %>
<% provide :base_title, t("base.title") %>
<% provide :button_text, t("booking.edit") %>
<div class="col-md-9 col-md-offset-3">
  <h1> <%= t "booking.edit_h1_html" %> </h1>
  <%= render "form" %>
</div>
