<div class="phone-number">
  <div class="phone-number-wrap">
    <div class="phone-number-ring-circle"></div>
    <div class="phone-number-ring-circle-fill"></div>
    <div class="phone-number-icon-circle">
      <a href="tel:+84 865787769"><i class="phone-icon fa fa-phone"></i></a>
    </div>
  </div>
</div>
