<%= search_form_for @q, url: root_path, class: "navbar-form navbar-left" do |f| %>
  <div class="input-group">
    <%= f.search_field :soccer_field_cont, class: "form-control", placeholder: t("base.search") %>
    <div class="input-group-btn">
      <%= button_tag " ", class: "btn btn-info fa fa-search"%>
    </div>
  </div>
<% end %>
